# База данных
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=prReviewersAutoAssigner

# Сервер
SERVER_PORT=8080
SERVER_READ_TIMEOUT=15
SERVER_WRITE_TIMEOUT=15
SERVER_IDLE_TIMEOUT=60

# Приложение
LOG_LEVEL=info
ENVIRONMENT=development

# Миграции
MIGRATIONS_PATH=file://migrations